@import "./variables";

body {
  background-color: rgb(19, 18, 18);
  color: white;
  font-family: sans-serif;
  margin: 0;
  scrollbar-color: $orange $lightOrange;
}

::-webkit-scrollbar {
  background-color: $lightOrange;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
}